@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Calistoga&family=Cantarell:wght@400;700&family=Inter:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul: #1C2D46;
    --celeste: #45ACB4;
    --ladrillo: #EA5534;
    --amarillo: #EDDA6A;
    --blanco: #FFFFFF;
}

body{
    background-color:linear-gradient(180deg, #FFFDF4 0%, #FFFAEE 210.38%);  
    overflow-x: hidden !important; 
}

body::-webkit-scrollbar{
    width: 10px;

}

body::-webkit-scrollbar-track{
    background-color: var(--azul);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--celeste);
    border-color: var(--celeste);
    border-radius: 15px;
}

/*
    font-family: 'Arimo', sans-serif;

    font-family: 'Calistoga', cursive;

    font-family: 'Cantarell', sans-serif;

    font-family: 'Inter', sans-serif;
*/
/*Todo los estilos escribelos con la misma jerarquia esta maquetado en el index*/
/*Navbar*/
nav{
    width: 100%;
    height: 127px;
}
.navbar{
    height: 127px;
    background-color: var(--azul);
    position: fixed;
    z-index: 2;
}
.logo{
    width: 15%;
}
.logo svg{
    width: 144px;
    height: 46px;
}
.menu-items{
    width: 70%;
}
.menu-items .all{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--blanco);
    transition: .5s;
}
.menu-items .all:hover{
    color: var(--celeste);
}
.carrito{
    width: 15%;
}

.all-colour{
    color: var(--ladrillo) !important;
}
.hamburger{
    display: none !important;
}

/*Header*/
.inputBusqueda{
    position: relative;
    width: 227px;
    height: 33px;
    left: 80px;
    background: rgba(252, 231, 219, 0.4);
    border: 1px solid #45ACB4;
    border-radius: 8px;
    color: rgba(36, 39, 64, 0.54);
}
.iconInput{
    position: absolute;
    left: 275px;
    top: 177px;
}
.container-texto{
    width: 50%;
}
.container-texto img{
    width: 115px;
    height: 113.19px;
    margin: 0 0 20px 0;
}
.container-texto h1{
    text-align: center;
    font-size: 49px;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    line-height: 52.09px;
    color: var(--azul);
    margin: 0 0 20px 0;
}
.container-texto .line{
    width: 450px;
    height: 20px;
}
.container-texto h2{
    text-align: center;
    font-size: 45px;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    line-height: 47.84px;
    color: var(--azul);
    margin: 0 0 30px 0;
}
.container-texto h3{
    text-align: center;
    font-size: 28px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 97.3%;
    color: var(--celeste);
    margin: 0 0 30px 0;
}
.container-texto a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 35px;
    width: 196px;
    height: 45px;
    background-color: var(--ladrillo);
    border: 1px solid var(--ladrillo);
    color: var(--blanco);
    text-decoration: none;
    border-radius: 50px;
    transition: .5s;
}
.container-texto a:hover{
    background-color: var(--celeste);
    border-color: var(--celeste);
}
.container-icono{
    width: 50%;
}
.container-icono img{
    width: 398px;
    height: 413.67px;
}
.ojoStyle{
    width: 40px;
    color: white;
}
/*Main*/

/* Modal*/
.modalColor{
    border: none;
    box-shadow: 0px 1px 7px #45ACB4;
}
.botonEliminar{
    border: none;
    background-color: white;
    position: absolute;
   margin-left: 384px;
   
    
}

.modalContainer{
  
        --bs-modal-zindex: 1055;
        --bs-modal-width: 450px;
        --bs-modal-padding: 1rem;
        --bs-modal-margin: 0.5rem;
        --bs-modal-color: ;
        --bs-modal-bg: #fff;
        --bs-modal-border-color: var(--bs-border-color-translucent);
        --bs-modal-border-width: 1px;
        --bs-modal-border-radius: 0.5rem;
        --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        --bs-modal-inner-border-radius: calc(0.5rem - 1px);
        --bs-modal-header-padding-x: 1rem;
        --bs-modal-header-padding-y: 1rem;
        --bs-modal-header-padding: 1rem 1rem;
        --bs-modal-header-border-width: 1px;
        --bs-modal-title-line-height: 1.5;
        --bs-modal-footer-gap: 0.5rem;
        --bs-modal-footer-bg: ;
        --bs-modal-footer-border-width: 1px;
        position: fixed;
        top: 0;
        left: 455px;
        z-index: var(--bs-modal-zindex);
        display: none;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
    
}
.img1{
    position: absolute;
    width: 65px;
    margin-bottom: 30px;
    
}
.titleCards{
    position: relative;
    margin-left: 77px;
    padding-bottom: 50px;
}

.controlesCarrousel{
    width: 1350px;
}

/*seccion nuestros productos*/
.productosTitle{
    margin-top: 50px;
    width: 750px;
}
.selectStyles{
    gap: 1rem;
    justify-content: space-around;
    margin-top: 100px;
    
}
.selectText{
    color: #868686;
    cursor: pointer;
}
.selectText:after{
    
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-in-out;
}
.selectText:hover{
    color: var(--celeste);
    text-decoration: underline;
}
.cambiaColor{
    color: green;
}
.divProductos{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 400px);
    justify-content: center;
    margin-bottom: 50px;
}
.cardStyles{
    margin-top: 50px;
    margin-right: 50px;
    width: 100%;
    
}
.cardImg{
    width: 260px;
    border-radius: 10px;
    border-color: var(--celeste);
    cursor: pointer;
}
.infoCard{
   display: flex;
   
   left: 100px;
   justify-content: center;
   color: var(--azul);

}
.textCard{
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 50px;
    display: block;
}
.botonHeader{
    
    background-color: #EA5534;
    color: white;
    border: none;
    border-radius: 20px;
    width: 190px;
    height: 45px;
    left: calc(50% - 190px/2);
    top: 20px;
    }
    .botonHeader:hover{
        background-color: #45ACB4;
    }
.botonProductos1{
        
        padding-right: 80px;
        padding-left: 20px;
        width: 120px;
        margin-right: 20px;
        
          
}
.botonProductos2{
    padding-right: 110px;
    padding-left: 20px;
    width: 120px;
    background-color: var(--celeste);
    color: white;
}
.botonProductos2:hover{
    background-color: var(--ladrillo);
}

/*Modal Productos*/
.modal{
    --bs-modal-width: 741px;
}
.imgModal{
    width: 345px;
    border-radius: 15px;
    border-color: var(--celeste);
    margin-bottom: 30px;
    position: relative;
    margin-left: -40px;
}
.imgModalDetail{
    width: 50px;
    display: flex;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
    
 
}
.textModalProducto{
    position: relative;
    display: flex;
   justify-content: center;
    margin-left: 135px;
    margin-top: 20px;
}

.textDescriptionModal{
    font-size: 12px;
    margin-left: 193px;
    margin-right: 38px;
    margin-top: 22px;
}
.botonesDetalleModal{
    position: absolute;
    margin-left: 215px;
    margin-top: 156px;
    font-size: 15px;
}
.botonDetalle1{
    width: 119px;
    height: 33px;
    margin-right: 15px;
    border-radius: 8px;
}

.botonDetalle2{
    width: 119px;
    height: 33px;
    margin-right: 15px;
    border-radius: 8px;
    background-color: var(--celeste);
}
.closeModal{
    position: relative;
    margin-left: 700px;
    margin-top: 10px;
    color: var(--ladrillo);
}
/*Nosotros*/
.nosotros{
    height: auto !important;
    background-color: var(--azul);
    color: var(--blanco);
}
.nosotros .box-title{
    border: 1.5px dashed var(--celeste);
    width: 100%;
    padding: 20px;
    margin: 1px 0 0 0;
}
.nosotros .box-title h4{
    font-size: 45px;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    line-height: 106.3%;
    color: var(--blanco);
}
.nosotros .box-p{
    padding: 20px;
    margin: 10px 0 50px 0;
}
.nosotros .box-p p{
    width: 65%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 19px;
}
.box-personas-nosotros{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 150px;
    height: 80%;
    margin: 100px 0 40px 0;
}
.contenedor-persona{
    position: relative;
    width: 390px;
    height: 560px;
    padding: 40px;
    background-color: var(--celeste);
    border: 2px solid var(--azul);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-persona img{
    position: absolute;
    top: -27%;
    width: 190px;
    height: 220px;
    border-radius: 50%;
}
.contenedor-persona h5{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 29px;
    color: var(--blanco);
    margin: 40px 0 10px 0;
}
.contenedor-persona p{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
/*Presupuesto*/
.box-title-contact{
    border: 1.8px dashed var(--celeste);
    width: 100%;
    padding: 20px;
    margin: 1px 0 0 0;
}
.box-title-contact h4{
    font-size: 45px;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    line-height: 106.3%;
    color: var(--azul);
    margin: 0 15px 0 0;
}
.box-title-contact img{
    width: 80px;
}
.box-p-contact p{
    width: 60%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: var(--azul);
    margin: 40px 0 0 0;
}
.box-form{
    width: 90%;
    padding: 24px;
}
.box-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-level-one{
    gap: 20px;
}
.box-son-level-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.box-son-level-one label{
    margin: 0 0 10px 0;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 22px;
}
.box-son-level-one input{
    width: 235px;
    height: 49px;
    background-color: var(--blanco);
    border: 2px solid var(--celeste);
    border-radius: 12px;
    
}

.box-son-level-one select{
    width: 235px;
    height: 49px;
    background-color: var(--blanco);
    border: 2px solid var(--celeste);
    border-radius: 12px;
}
.box-son-level-two{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 0 0 0 ;
}
.box-son-level-two label{
    margin: 0 0 10px 0;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 22px;
}
.box-son-level-two textarea{
    width: 100%;
    height: 271px;
    padding: 10px;
    background-color: var(--blanco);
    border: 2px solid var(--celeste);
    border-radius: 12px;
}
.box-son-level-two input{
    width: 147px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ladrillo);
    border: 1px solid var(--ladrillo);
    color: var(--blanco);
    text-decoration: none;
    border-radius: 50px;
    transition: .5s;
    margin: 40px 0 0 0;
}
.box-son-level-two input:hover{
    background-color: var(--celeste);
    border-color: var(--celeste);
}
/*Footer*/
footer{
    height: 300px;
    background-color: var(--azul);
}
.container-box-footer{
    gap: 30px;
    padding: 48px;
}
.box-logo{
    width: 20%;
}
.box-logo p{
    width: 90%;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 17px;
    color: var(--blanco);
    margin-top: 10px;
}
.box-items{
    width: 20%;
}
.box-items h5{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: var(--celeste);
    margin: 0 0 25px 0;
}
.box-items a{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 25px;
    text-decoration: none;
    color: var(--blanco);
    margin: 0 0 0 0;
}

.box-contacto{
    width: 20%;
}
.box-contacto h5{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: var(--celeste);
    margin: 0 0 25px 0;
}
.box-contacto div .box-son{
    margin: 0 0 5px 0;
}
.box-contacto div .box-son p{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 25px;
    color: var(--blanco);
    margin: 0 0 0 15px;
}
.box-contacto div .box-son img{
    width: 20px;
    height: 16px;
}
.box-redes{
    width: 20%;
}
.box-redes h5{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: var(--celeste);
    margin: 0 0 25px 0;
}
.box-son-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box-son-redes a img{
    width: 40px;
    height: 40px;
}
.youtube{
    width: 48px !important;
    height: 34px !important;
}

.derechos h6{
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.46);
}





/*luego acomodas esto en el orden que corresponda*/
.botonCarrito{
    background: none;
    border: none;
}
.numeroCarrito{
    color: white;
    padding: 5px;
    background-color: var(--ladrillo);
    border-radius: 50%;
    position: absolute;
    margin-left: 50px;
}
.buscadorContainer{
    position: absolute;
    padding-right: 50px;
    padding-left: 20px;
    margin-left: 60px;
}
.botonBuscador{
    margin-left: 110px;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    width: 75px;
    height: 40px;
    border-radius: 50px;

}

.listStyles{
   margin-bottom: 45px;
   list-style-type: none;
   margin-top: 20px;
}
/*Animate*/
.fade-out-top {
	-webkit-animation: fade-out-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.fade-in-top {
	-webkit-animation: fade-in-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
  
@-webkit-keyframes fade-out-top {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
        opacity: 0;
    }
}
@keyframes fade-out-top {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
        opacity: 0;
    }
}
  
/*Resposive*/

@media only screen and ( max-width: 992px){
    .menu-items {
        width: 60% !important;
    }
    .container-icono img {
        width: 75% !important;
    }
    .container-texto img {
        width: 90px !important;
        height: 90px !important;
    }
    .container-texto h1 {
        font-size: 42px !important;
    }
    .container-texto .line {
        width: 85% !important;
        height: 5px !important;
    }
    .container-texto h2 {
        font-size: 37px !important;
        margin: 0 0 20px 0 !important;
    }
    .container-texto h3{
        font-size: 21px !important;
        margin: 0 0 20px 0 !important;
    }
    .container-texto a {
        padding: 14px 25px !important;
        width: 176px !important;
    }
    .box-personas-nosotros{
        margin: 100px 0 40px 0 !important;
        gap: 80px !important;
    }
    .nosotros .box-p p {
        width: 80% !important;
    }
    footer{
        height: auto !important;
    }
    .container-box-footer{
        gap: 0px !important;
        margin: 30px 0 0 0 !important;
    }
    .box-contacto {
        width: 30%;
    }
    .derechos{
        margin: 0 0 10px 0 !important;
    }

}
@media only screen and ( max-width: 850px){
    .carrito {
        width: 130px;
        justify-content: space-between !important;
    }
    .hamburger{
        display: inline-block !important;
        margin: 10px 0 0 0 !important;
    }
    .container-texto{
        width: 100%;
    }
    .container-texto img {
        width: 100px !important;
        height: 100px !important;
    }
    .container-texto h1 {
        font-size: 46px !important;
    }
    .container-texto .line {
        width:50% !important;
        height: 10px !important;
    }
    .container-texto h2 {
        font-size: 41px !important;
        margin: 0 0 20px 0 !important;
    }
    .container-texto h3{
        font-size: 25px !important;
        margin: 0 0 20px 0 !important;
    }
    .container-texto a {
        padding: 14px 25px !important;
        width: 176px !important;
    }
    .menu-items{
        display: none !important;
        width: 100% !important;
        height: 95vh !important;
        position: absolute !important;
        top: 100px !important;
        left: 0 !important;
        z-index: 3;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 90px !important;
        background-color: var(--azul) !important;
        

    }
    .is-active-navbar{
        display: flex !important;
    }
    .menu-items .all {
        font-size: 1.7rem !important;
      }
    .container-icono{
        display: none !important;
    }
    .navbar{
        justify-content: space-between !important;
        padding: 10px 30px 10px 30px !important;
    }
    .box-header-buscador{
        margin: 30px 0 50px 0 !important;
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
    }
    .form-buscador{
        width: 100% !important;
        height: auto !important;
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
    }
    .inputBusqueda {
        width: 60% !important;
        height: 40px !important;
        left: 0px !important;
        border-radius: 16px !important;
      }
    .iconInput {
        position: absolute;
        left: 570px;
        top: 162px;
    }
    .container-texto a {
        margin: 0 0 30px 0 !important;
    }
    .box-personas-nosotros {
        gap: 40px !important;
    }
    .container-box-footer {
        padding: 48px 20px 48px 20px !important;
    }
    .nosotros .box-p p {
        width: 95% !important;
    }
    .box-p-contact p {
        width: 80% !important;
    }
    .box-form {
        width: 100% !important;
        padding: 24px 10px 24px 0 !important;
    }
    .box-form form {
        width: 100% !important;
    }
    .box-level-one {
        gap: 0px !important;
        justify-content: space-between !important;
        width: 95% !important;
    }
    .box-son-level-two {
        width: 95% !important;
    }

}
@media only screen and ( max-width: 768px){
    .box-personas-nosotros {
        gap: 200px !important;
    }
    .container-box-footer {
        gap: 20px !important;
    }
    .box-logo {
        width: 45% !important;
    }
    .box-items {
        width: 45% !important;
    }
    .box-contacto {
        width: 45% !important;
        margin: 20px 0 0 0 !important;
    }
    .box-redes {
        width: 45% !important;
        margin: 20px 0 0 0 !important;
    }
    .derechos {
        padding: 0 20px !important;
        justify-content: flex-start !important;
    }
    .box-son-level-one input {
        width: 220px !important;
    }
    .box-son-level-one select {
        width: 220px !important;
    }
    
}
@media only screen and ( max-width: 576px){
    nav{
        height: 100px !important;
    }
    .navbar {
        height: 100px !important;
    }
    .container-texto img {
        width: 90px !important;
        height: 90px !important;
    }
    .container-texto h1 {
        font-size: 2.4rem !important;
    }
    .container-texto .line {
        width: 90% !important;
        height: 20px !important;
    }
    .container-texto h2 {
        font-size: 2.2rem !important;
        margin: 0 0 20px 0 !important;
    }
    .container-texto h3 {
        margin: 0 0 30px 0 !important;
    }
    .inputBusqueda {
        width: 90% !important;
    }
    .iconInput {
        left: 450px !important;
    }
    .nosotros .box-p p {
        width: 100% !important;
    }
    .nosotros .box-title h4 {
        font-size: 2.5rem !important;
    }
    .contenedor-persona {
        width: 90% !important;
    }
    .box-title-contact h4 {
        font-size: 2.5rem;
    }
    .box-title-contact img {
        width: 50px !important;
    }
    .box-p-contact p {
        width: 90% !important;
    }
    .box-level-one {
        gap: 20px !important;
        justify-content: center !important;
        width: 95% !important;
        flex-direction: column !important;
    }
    .box-son-level-one {
        align-items: center !important;
        width: 100% !important;
    }
    .box-son-level-one input {
        width: 95% !important;
    }
    .box-son-level-one select {
        width: 95% !important;
    }
    .box-son-level-two {
        width: 100% !important;
        align-items: center !important;
    }
    .box-son-level-two textarea {
        width: 95% !important;
    }
    .box-son-level-two input {
        width: 170px !important;
        height: 50px !important;
    }
    .container-box-footer {
        gap: 0px !important;
        padding: 10px 20px 48px 20px !important;
    }
    .box-logo {
        width: 100% !important;
    }
    .box-items {
        width: 100% !important;
        margin: 25px 0 0 0 !important;
    }
    .box-items h5{
        margin: 0 0 15px 0 !important;
    }
    .box-contacto {
        width: 100% !important;
        margin: 25px 0 0 0 !important;
    }
    .box-contacto h5{
        margin: 0 0 15px 0 !important;
    }
    .box-redes {
        width: 100% !important;
        margin: 25px 0 0 0 !important;
    }
    .box-redes h5{
        margin: 0 0 20px 0 !important;
    }
    .derechos {
        padding: 0 20px !important;
        justify-content: flex-start !important;
    }
    .derechos h6 {
        font-size: 11px;
    }
}
@media only screen and ( max-width: 400px){
    .menu-items {
        gap: 60px !important;
    }
    .menu-items .all {
        font-size: 1.5rem !important;
    }
}