@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Calistoga&family=Cantarell:wght@400;700&family=Inter:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul: #1C2D46;
    --celeste: #45ACB4;
    --ladrillo: #EA5534;
    --amarillo: #EDDA6A;
    --blanco: #FFFFFF;
}

body{
    background-color:linear-gradient(180deg, #FFFDF4 0%, #FFFAEE 210.38%);  
    overflow-x: hidden !important; 
}

body::-webkit-scrollbar{
    width: 10px;

}

body::-webkit-scrollbar-track{
    background-color: var(--azul);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--celeste);
    border-color: var(--celeste);
    border-radius: 15px;
}

/*
    font-family: 'Arimo', sans-serif;

    font-family: 'Calistoga', cursive;

    font-family: 'Cantarell', sans-serif;

    font-family: 'Inter', sans-serif;
*/
/*Todo los estilos escribelos con la misma jerarquia esta maquetado en el index*/
/*Navbar*/
nav{
    width: 100%;
    height: 127px;
}
.navbar{
    height: 127px;
    background-color: var(--azul);
    position: fixed;
    z-index: 2;
}
.logo{
    width: 15%;
}
.logo svg{
    width: 144px;
    height: 46px;
}
.menu-items{
    width: 70%;
}
.menu-items a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--blanco);
    transition: .5s;
}
.menu-items a:hover{
    color: var(--celeste);
}
.carrito{
    width: 15%;
}

/*Header*/
.inputBusqueda{
    position: relative;
    width: 227px;
    height: 33px;
    left: 80px;
    background: rgba(252, 231, 219, 0.4);
    border: 1px solid #45ACB4;
    border-radius: 8px;
    color: rgba(36, 39, 64, 0.54);
}
.iconInput{
    position: absolute;
    left: 275px;
    top: 177px;
}
.container-texto{
    width: 50%;
}
.container-texto img{
    width: 115px;
    height: 113.19px;
    margin: 0 0 20px 0;
}
.container-texto h1{
    text-align: center;
    font-size: 49px;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    line-height: 52.09px;
    color: var(--azul);
    margin: 0 0 20px 0;
}
.container-texto .line{
    width: 450px;
    height: 20px;
}
.container-texto h2{
    text-align: center;
    font-size: 45px;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    line-height: 47.84px;
    color: var(--azul);
    margin: 0 0 30px 0;
}
.container-texto h3{
    text-align: center;
    font-size: 28px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 97.3%;
    color: var(--celeste);
    margin: 0 0 30px 0;
}
.container-texto a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 35px;
    width: 196px;
    height: 45px;
    background-color: var(--ladrillo);
    border: 1px solid var(--ladrillo);
    color: var(--blanco);
    text-decoration: none;
    border-radius: 50px;
    transition: .5s;
}
.container-texto a:hover{
    background-color: var(--celeste);
    border-color: var(--celeste);
}
.container-icono{
    width: 50%;
}
.container-icono img{
    width: 398px;
    height: 413.67px;
}

/*Main*/

/*Nosotros*/
.nosotros{
    height: 830px;
    background-color: var(--azul);
    color: var(--blanco);
}
.nosotros .box-title{
    border: 1.5px dashed var(--celeste);
    width: 100%;
    padding: 20px;
    margin: 1px 0 0 0;
}
.nosotros .box-title h4{
    font-size: 45px;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    line-height: 106.3%;
    color: var(--blanco);
}
.nosotros .box-p{
    padding: 20px;
}
.nosotros .box-p p{
    width: 50%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 19px;
}

.contenedor-persona{
    position: relative;
    width: 350px;
    height: 440px;
    padding: 40px;
    background-color: var(--celeste);
    border: 2px solid var(--azul);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-persona img{
    position: absolute;
    top: -27%;
    width: 185.87px;
    height: 211px;
}
.contenedor-persona h5{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 29px;
    color: var(--blanco);
}
.contenedor-persona p{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
/*Presupuesto*/
.box-title-contact{
    border: 1.8px dashed var(--celeste);
    width: 100%;
    padding: 20px;
    margin: 1px 0 0 0;
}
.box-title-contact h4{
    font-size: 45px;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    line-height: 106.3%;
    color: var(--azul);
    margin: 0 15px 0 0;
}
.box-title-contact img{
    width: 80px;
}
.box-p-contact p{
    width: 60%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: var(--azul);
    margin: 40px 0 0 0;
}
.box-form{
    width: 90%;
}
.box-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-level-one{
    gap: 20px;
}

/*Footer*/
footer{
    height: 300px;
    background-color: var(--azul);
}
.box-logo{
    width: 20%;
}
.box-logo p{
    width: 90%;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 17px;
    color: var(--blanco);
    margin-top: 10px;
}
.box-items{
    width: 20%;
}
.box-items h5{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: var(--celeste);
    margin: 0 0 25px 0;
}
.box-items a{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 25px;
    text-decoration: none;
    color: var(--blanco);
    margin: 0 0 0 0;
}

.box-contacto{
    width: 20%;
}
.box-contacto h5{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: var(--celeste);
    margin: 0 0 25px 0;
}
.box-contacto div .box-son{
    margin: 0 0 5px 0;
}
.box-contacto div .box-son p{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 25px;
    color: var(--blanco);
    margin: 0 0 0 15px;
}
.box-contacto div .box-son img{
    width: 20px;
    height: 16px;
}
.box-redes{
    width: 20%;
}
.box-redes h5{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: var(--celeste);
    margin: 0 0 25px 0;
}
.box-son-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box-son-redes a img{
    width: 40px;
    height: 40px;
}
.youtube{
    width: 48px !important;
    height: 34px !important;
}

.derechos h6{
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.46);
}





/*luego acomodas esto en el orden que corresponda*/
.botonCarrito{
    background: none;
    border: none;
}
.botonHeader{
    
background-color: #EA5534;
color: white;
border: none;
border-radius: 20px;
width: 190px;
height: 45px;
left: calc(50% - 190px/2);
top: 20px;
}
.botonHeader:hover{
    background-color: #45ACB4;
}
.buscadorContainer{
    position: absolute;
    padding-right: 100px;
    padding-left: 20px;
}
/*
.modalContainer{
    display: flex;
    justify-content: flex-end;
    padding-left: 750px;
}*/
.modalColor{
    border: none;
    box-shadow: 0px 1px 7px #45ACB4;
}
.botonEliminar{
    border: none;
    background-color: white;
    position: absolute;
    margin-left: 330px;
    
}